/* line 3, ../sass/style.scss */
._title {
  padding-top: 0px !important;
  background: none;
  font-weight: bold;
}

/* line 9, ../sass/style.scss */
._nav-colors {
  background: #93C573;
}

/* line 12, ../sass/style.scss */
a:hover {
  color: #2D6707 !important;
}

/* line 15, ../sass/style.scss */
div.navbar-header a, ul.nav a {
  color: #EDF2EA !important;
}
/* line 17, ../sass/style.scss */
div.navbar-header a:hover, ul.nav a:hover {
  color: #2D6707 !important;
}

/* line 21, ../sass/style.scss */
body {
  background-color: #EDF2EA;
}

/* line 24, ../sass/style.scss */
.paragraph-bio {
  padding-bottom: 25px;
  font-size: 20px;
}

/* line 28, ../sass/style.scss */
.portfolio-item {
  margin-bottom: 25px;
}

/* line 32, ../sass/style.scss */
.project-title {
  margin-bottom: 25px;
}
