@import 'colors';

._title{
	padding-top: 0px!important;
	background: none;
	font-weight:bold;
}

._nav-colors{
	background: $mintgreen;
}
a:hover{
	color:$forestgreen !important;
}
 div.navbar-header a, ul.nav a{
	color:$lightgray !important;
	&:hover{
		color:$forestgreen !important;
	}
}
body{
	background-color:$lightgray;
}
.paragraph-bio{
	padding-bottom:25px;
	font-size:20px;
}
.portfolio-item {
    margin-bottom: 25px;
}

.project-title{
	margin-bottom:25px;
}